<!DOCTYPE html>
<html lang="en">
<body style="background-color: rgb(203, 155, 155);">

<h2>Sales Predition</h2><br>

<form action = "/submit" method = "POST">
    <label for="region">Region:</label><br>
    <input type="text" id="region" name="region" value="R1"><br><br>

    <label for="location">Location:</label><br>
    <input type="text" id="location" name="location" value="L1"><br><br>

    <label for="store">StoreType:</label><br>
    <input type="text" id="store" name="store" value="S1"><br><br>

    <label for="holiday">Holiday:</label><br>
    <input type="number" id="holiday" name="holiday" value=1><br><br>

    <label for="discount">Discount:</label><br>
    <input type="text" id="discount" name="discount" value="No"><br><br>

    <label for="order">Order:</label><br>
    <input type="number" id="order" name="order" value=20 min=20><br><br>

   
    <input type="submit" value="Submit">

</form>

<p> If you click the submit button, the form data will be sent to a page called "/submit".</p>

</body>
</html>